WATCH_FOLDER=./input
PROCESSED_FOLDER=./processed
FAILED_FOLDER=./failed

NODE_ENV=dev

PRESTASHOP_DEV_API_URL=https://test-site.com/api
PRESTASHOP_DEV_API_KEY=XXX


# Environnement (dev / prod)
NODE_ENV=dev
# Dev
PRESTASHOP_DEV_API_URL=https://YOUR_TEST_SITE/api
PRESTASHOP_DEV_API_KEY=yourapikey
# Prod
PRESTASHOP_API_URL=https://YOUR_PRODUCTION_SITE/api
PRESTASHOP_API_KEY=yourapikey